<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- iCheck -->
    <link rel="stylesheet" href="~/bower_components/icheck-bootstrap/icheck-bootstrap.min.css">
    <link rel="stylesheet" href="~/bower_components/fontawesome-free/css/all.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/dist/css/adminlte.min.css">
</head>
<body class="hold-transition login-page">
    <div>
        @RenderBody()
    </div>
    <script src="~/bower_components/jquery/jquery.min.js"></script>
    <!-- Bootstrap 3.3.7 -->
    <script src="~/bower_components/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/dist/js/adminlte.min.js"></script>
</body>
</html>
