
@{
    ViewData["Title"] = "Dashboard";
    Layout = "_Dashboard";
}

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <h1 class="col-12">Welcome</h1>
            <h3 class="col-12">Dynamic Screen</h3>
        </div>
    </div>
</div>
